USE [master]
GO
/****** Object:  Database [finalproject]    Script Date: 1/26/2026 7:34:27 PM ******/
CREATE DATABASE [finalproject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'finalproject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\finalproject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'finalproject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\finalproject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [finalproject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [finalproject]
GO
/****** Object:  Table [dbo].[TBL_APPLICATION]    Script Date: 1/26/2026 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_APPLICATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NULL,
	[NAME] [varchar](200) NOT NULL,
	[MobNo] [bigint] NOT NULL,
	[EmailID] [varchar](200) NOT NULL,
	[ADDRESS] [varchar](200) NULL,
	[QUALIFICATION] [varchar](200) NULL,
	[EXP] [varchar](200) NULL,
	[SALARY] [int] NULL,
	[GENDER] [varchar](200) NULL,
	[RESUME] [varchar](200) NULL,
	[PICTURE] [varchar](200) NULL,
	[RegDate] [datetime] NULL,
	[STATUS] [varchar](200) NULL,
	[ISHIRED] [bit] NULL,
	[ISREJECTED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ATTENDANCE]    Script Date: 1/26/2026 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ATTENDANCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPID] [varchar](200) NULL,
	[ADATE] [date] NULL,
	[ATIME] [time](7) NULL,
	[ADDEDON] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_EMPLOGIN]    Script Date: 1/26/2026 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EMPLOGIN](
	[EMAIL] [varchar](200) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[APPID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ENQUIRY]    Script Date: 1/26/2026 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ENQUIRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[MOBILE] [bigint] NULL,
	[EMAIL] [varchar](200) NULL,
	[MESSAGE] [text] NULL,
	[ENQDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LEAVE]    Script Date: 1/26/2026 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LEAVE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPID] [varchar](200) NULL,
	[TITLE] [varchar](250) NULL,
	[DETAIL] [text] NULL,
	[FROMDATE] [date] NULL,
	[TODATE] [date] NULL,
	[APPLIEDON] [datetime] NULL,
	[TOTALDAYS] [int] NULL,
	[ISACCEPTED] [bit] NULL,
	[ATTACHFILE] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OPENING]    Script Date: 1/26/2026 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OPENING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](100) NOT NULL,
	[DETAILS] [varchar](250) NULL,
	[JOBTYPE] [varchar](100) NULL,
	[CITY] [varchar](50) NULL,
	[MINSALARY] [int] NULL,
	[MAXSALARY] [int] NULL,
	[GENDER] [varchar](50) NULL,
	[SHIFT] [varchar](100) NULL,
	[EXP] [varchar](250) NULL,
	[EDUCATION] [varchar](200) NULL,
	[VACANCY] [int] NULL,
	[LASTDATE] [date] NULL,
	[STARTDATE] [date] NULL,
	[STATUS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_APPLICATION] ON 

INSERT [dbo].[TBL_APPLICATION] ([ID], [JobID], [NAME], [MobNo], [EmailID], [ADDRESS], [QUALIFICATION], [EXP], [SALARY], [GENDER], [RESUME], [PICTURE], [RegDate], [STATUS], [ISHIRED], [ISREJECTED]) VALUES (3, 11, N'Ankit', 7675575, N'ankitmscollege@gmail.com', N'jnp', N'dd', N'4 Year', 6565, N'Male', N'shubhamchoices.pdf', N'image1.jpg', CAST(N'2025-08-03T05:04:45.000' AS DateTime), N'1', 1, 0)
INSERT [dbo].[TBL_APPLICATION] ([ID], [JobID], [NAME], [MobNo], [EmailID], [ADDRESS], [QUALIFICATION], [EXP], [SALARY], [GENDER], [RESUME], [PICTURE], [RegDate], [STATUS], [ISHIRED], [ISREJECTED]) VALUES (4, 7, N'OP', 8475783457, N'ankitbind889@gmail.com', N'Bombay', N'Diploma', N'Fresher', 3578, N'Male', N'shubhamchoices.pdf', N'image1.jpg', CAST(N'2025-08-03T05:13:39.000' AS DateTime), N'1', 1, 0)
SET IDENTITY_INSERT [dbo].[TBL_APPLICATION] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_ATTENDANCE] ON 

INSERT [dbo].[TBL_ATTENDANCE] ([ID], [EMPID], [ADATE], [ATIME], [ADDEDON]) VALUES (1, N'ankitmscollege@gmail.com', CAST(N'2025-08-05' AS Date), CAST(N'13:07:00' AS Time), CAST(N'2025-08-05T01:07:16.000' AS DateTime))
INSERT [dbo].[TBL_ATTENDANCE] ([ID], [EMPID], [ADATE], [ATIME], [ADDEDON]) VALUES (2, N'ankitmscollege@gmail.com', CAST(N'2025-08-06' AS Date), CAST(N'11:14:00' AS Time), CAST(N'2025-08-06T11:14:00.000' AS DateTime))
INSERT [dbo].[TBL_ATTENDANCE] ([ID], [EMPID], [ADATE], [ATIME], [ADDEDON]) VALUES (1002, N'ankitbind889@gmail.com', CAST(N'2025-09-18' AS Date), CAST(N'00:43:00' AS Time), CAST(N'2025-09-18T12:43:14.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_ATTENDANCE] OFF
GO
INSERT [dbo].[TBL_EMPLOGIN] ([EMAIL], [PASSWORD], [APPID]) VALUES (N'ankitbind889@gmail.com', N'emp123', 4)
INSERT [dbo].[TBL_EMPLOGIN] ([EMAIL], [PASSWORD], [APPID]) VALUES (N'ankitmscollege@gmail.com', N'rock', 3)
GO
SET IDENTITY_INSERT [dbo].[TBL_ENQUIRY] ON 

INSERT [dbo].[TBL_ENQUIRY] ([ID], [NAME], [MOBILE], [EMAIL], [MESSAGE], [ENQDATE]) VALUES (1, N'Ankit', 0, N'ankit@gmail.com', N'HI', CAST(N'1905-07-08T00:00:00.000' AS DateTime))
INSERT [dbo].[TBL_ENQUIRY] ([ID], [NAME], [MOBILE], [EMAIL], [MESSAGE], [ENQDATE]) VALUES (2, N'ABCD', 0, N'abcd@gmail.com', N'HEY', CAST(N'1905-07-08T00:00:00.000' AS DateTime))
INSERT [dbo].[TBL_ENQUIRY] ([ID], [NAME], [MOBILE], [EMAIL], [MESSAGE], [ENQDATE]) VALUES (3, N'XYZ', 1234577679, N'abcd@gmail.com', N'HELLO', CAST(N'2025-08-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_ENQUIRY] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_LEAVE] ON 

INSERT [dbo].[TBL_LEAVE] ([ID], [EMPID], [TITLE], [DETAIL], [FROMDATE], [TODATE], [APPLIEDON], [TOTALDAYS], [ISACCEPTED], [ATTACHFILE]) VALUES (1, N'ankitmscollege@gmail.com', N'Urgent leave', N'Urgent leave to attend ......', CAST(N'2025-08-04' AS Date), CAST(N'2025-08-07' AS Date), CAST(N'2025-08-04T00:00:00.000' AS DateTime), 3, 1, N'')
SET IDENTITY_INSERT [dbo].[TBL_LEAVE] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_OPENING] ON 

INSERT [dbo].[TBL_OPENING] ([ID], [TITLE], [DETAILS], [JOBTYPE], [CITY], [MINSALARY], [MAXSALARY], [GENDER], [SHIFT], [EXP], [EDUCATION], [VACANCY], [LASTDATE], [STARTDATE], [STATUS]) VALUES (7, N'Sr. .NET Devloper', N'We are hiring Developers', N'Full Time', N'Washington', 1234, 987654, N'Male', N'Morning', N'4 Year', N'M. Tech', 2, CAST(N'2025-07-19' AS Date), CAST(N'2025-08-01' AS Date), 1)
INSERT [dbo].[TBL_OPENING] ([ID], [TITLE], [DETAILS], [JOBTYPE], [CITY], [MINSALARY], [MAXSALARY], [GENDER], [SHIFT], [EXP], [EDUCATION], [VACANCY], [LASTDATE], [STARTDATE], [STATUS]) VALUES (10, N'PHP', N'We are hiring Developers', N'NORMAL', N'CHICAGO', 12345, 98765, N'Male', N'ANY', N'EXPERIENCED', N'M. Tech', 2, CAST(N'2025-08-18' AS Date), CAST(N'2025-08-03' AS Date), 1)
INSERT [dbo].[TBL_OPENING] ([ID], [TITLE], [DETAILS], [JOBTYPE], [CITY], [MINSALARY], [MAXSALARY], [GENDER], [SHIFT], [EXP], [EDUCATION], [VACANCY], [LASTDATE], [STARTDATE], [STATUS]) VALUES (11, N'php', N'We are hiring Developers', N'Full Time', N'Washington', 123456, 123456, N'Male', N'ANY', N'4 Year', N'M. Tech', 20, CAST(N'2025-08-18' AS Date), CAST(N'2025-08-03' AS Date), 1)
SET IDENTITY_INSERT [dbo].[TBL_OPENING] OFF
GO
ALTER TABLE [dbo].[TBL_APPLICATION]  WITH CHECK ADD FOREIGN KEY([JobID])
REFERENCES [dbo].[TBL_OPENING] ([ID])
GO
ALTER TABLE [dbo].[TBL_ATTENDANCE]  WITH CHECK ADD FOREIGN KEY([EMPID])
REFERENCES [dbo].[TBL_EMPLOGIN] ([EMAIL])
GO
ALTER TABLE [dbo].[TBL_LEAVE]  WITH CHECK ADD FOREIGN KEY([EMPID])
REFERENCES [dbo].[TBL_EMPLOGIN] ([EMAIL])
GO
USE [master]
GO
